<!DOCTYPE html>
<html>
<head>
  <title>Phcdevworks real estate</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "phcdevworks_real_estate/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
